<p>What is your creatures name?</p>

<form action = "/stats">
    <label for='tama_name'>Name</label>
    <input id='tama_name' name='tama_name' type='text'>

    <button type='submit' class='btn-danger'>CREATE LIFE!!</button>
</form>
